@use "src/scss/config" as *;

.button-icon {
    height: min(12rem, 16vw);
    width: min(12rem, 16vw);

    border: $border-section;
    border-radius: min(2.5rem, 3.35vw);

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 90%;
        width: 90%;
        object-fit: contain;
    }

    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 1rem 0.25rem rgba($gray-20, 0.2);
    }
}